<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <meta charset="utf-8">
    <!--
    Customize this policy to fit your own app's needs. For more guidance, please refer to the docs:
        https://cordova.apache.org/docs/en/latest/
    Some notes:
        * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
        * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
            * Enable inline JS: add 'unsafe-inline' to default-src
    -->
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="css/index.css">
    <title>Pokedex</title>
</head>
<body>
    <div id="app">
        <h1>Apache Cordova</h1>
        <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received">Device is Ready</p>
            <div>
                <div>
                    <div class="pokemon-buttons">
                        <button v-for="pokemon in pokemons" :key="pokemon.name" @click="selectPokemon(pokemon)">
                            {{ pokemon.details.name }}
                            <img v-if="pokemon.details.sprites && pokemon.details.sprites.front_default" :src="pokemon.details.sprites.front_default" :alt="pokemon.details.name" />
                        </button>
                    </div>
                    <div class="pokemon-details" v-if="selectedPokemon">
                        <h2>{{ selectedPokemon.name }}</h2>
                        <img :src="selectedPokemonImageUrl" :alt="selectedPokemon.name" class="selected-pokemon-image" />
                        <ul>
                            <li v-for="stat in selectedPokemon.stats" :key="stat.stat.name">
                                {{ stat.stat.name }}: {{ stat.base_stat }}
                            </li>
                        </ul>
                    </div>
                    <button @click="loadMorePokemons">Afficher 10 autres Pokémon</button>
                    <audio ref="Son_attaque" :src="getAttackSoundUrl(selectedPokemon.name)" preload="auto"></audio>
                    <button id="attack-button" class="attack-button" @click="playAttackSound()">Attaque</button>
                </div>
            </div>
        </div>
    </div>

    <script src="cordova.js"></script>
    <script src="js/Vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
